* {
  box-sizing: border-box;
}

body {
  background-color: #080808;
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
    width: 1080px;
}

header {

}

.top-wrapper {

}

footer {

}
