* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 64px;
  background-color: rgba(32, 32, 32, 0.9);
}

.header01 {

}

.header01 h1, .header01 a {
  color: white;
}

.header01 h1, .header01 img, .header01 ul {
  float: left;
}

.header01 ul {
  list-style: none;
}

.header01 li {
  display: inline-block;
}
