* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin 0 auto;
}

header {
  font-color: white;
  font-size: 24px;
  backgroud-color: #323232;
}

.header-list li {
  display: inline;
}

.top-wrapper {

}

footer {
  backgroud-color: #323232;
}
